.tagbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bóng đổ phía dưới */
  background-color: rgb(80, 0, 0);
  position: sticky;
  top: 0;
  z-index: 1000; /* Đảm bảo nó luôn ở trên các thành phần khác */
}

.leftSection {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.siteTitle {
  font-size: 1.5rem;
  color: red;
  font-weight: bold;
  margin-left: 10px;
}

.navList {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-left: 30px;
}

.navList li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5px 10px;
}

.navList li a:hover {
  color: red;
  border-bottom: 2px solid red;
}

.rightSection {
  display: flex;
  gap: 20px;
  align-items: center;
}

.rightSection span {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  gap: 5px;
  color: white;
}
